<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Story</title>
    {% include 'adminWork/headerfile.html' %}
</head>
<body>
{% include 'adminWork/navbarHead.html' %}

<div>
    <div class="text-center">
        <h1>Manage story</h1>
        <hr>
    </div>
    <div class="form-group">
        <a href="addStroy" class="btn btn-success"><i class="fas fa-plus mr-3"></i>add Stroy</a>
    </div>

</div>

{% include 'adminWork/navbarfooter.html' %}
</body>
</html>
